{
  "providers": {
    "xiaomi": {
      "baseUrl": "https://api.xiaomimimo.com/anthropic",
      "api": "anthropic-messages",
      "apiKey": "${XIAOMI_API_KEY}",
      "models": [
        {
          "id": "mimo-v2.5",
          "name": "MiMo-V2.5",
          "reasoning": true,
          "thinkingLevelMap": { "xhigh": "max" },
          "contextWindow": 1048576,
          "maxTokens": 131072,
          "input": ["text", "image"],
          "cost": { "input": 1, "output": 2, "cacheRead": 0.02, "cacheWrite": 0 }
        },
        {
          "id": "mimo-v2.5-pro",
          "name": "MiMo-V2.5-Pro",
          "reasoning": true,
          "thinkingLevelMap": { "xhigh": "max" },
          "contextWindow": 1048576,
          "maxTokens": 131072,
          "input": ["text"],
          "cost": { "input": 3, "output": 6, "cacheRead": 0.025, "cacheWrite": 0 }
        }
      ]
    },
    "deepseek": {
      "baseUrl": "https://api.deepseek.com/anthropic",
      "api": "anthropic-messages",
      "apiKey": "${DEEPSEEK_API_KEY}",
      "models": [
        {
          "id": "deepseek-v4-flash",
          "name": "DeepSeek V4 Flash",
          "reasoning": true,
          "thinkingLevelMap": { "minimal": null, "low": null, "medium": null, "high": "high", "xhigh": "max"},
          "contextWindow": 1000000,
          "maxTokens": 384000,
          "input": ["text"],
          "cost": { "input": 1, "output": 2, "cacheRead": 0.02, "cacheWrite": 0 }
        },
        {
          "id": "deepseek-v4-pro",
          "name": "DeepSeek V4 Pro",
          "reasoning": true,
          "thinkingLevelMap": { "minimal": null, "low": null, "medium": null, "high": "high", "xhigh": "max"},
          "contextWindow": 1000000,
          "maxTokens": 384000,
          "input": ["text"],
          "cost": { "input": 3, "output": 6, "cacheRead": 0.025, "cacheWrite": 0 }
        }
      ]
    },
    "aliyun": {
      "baseUrl": "https://${ALIYUN_WORKSPACE_ID}.cn-beijing.maas.aliyuncs.com/apps/anthropic",
      "api": "anthropic-messages",
      "apiKey": "${ALIYUN_API_KEY}",
      "models": [
        {
          "id": "qwen3.7-max",
          "name": "qwen3.7 max",
          "input": ["text", "image"],
          "reasoning": true,
          "thinkingLevelMap": { "xhigh": "max" },
          "contextWindow": 1048576,
          "maxTokens": 65536,
          "cost": { "input": 12, "output": 36, "cacheRead": 2.4, "cacheWrite": 12 }
        },
        {
          "id": "qwen3.7-plus",
          "name": "qwen3.7 plus",
          "input": ["text", "image"],
          "reasoning": true,
          "thinkingLevelMap": { "xhigh": "max" },
          "contextWindow": 1048576,
          "maxTokens": 65536,
          "cost": { "input": 2, "output": 8, "cacheRead": 0.4, "cacheWrite": 2 }
        },
        {
          "id": "glm-5.2",
          "name": "GLM 5.2",
          "input": ["text"],
          "reasoning": true,
          "thinkingLevelMap": { "minimal": null, "low": null, "medium": null, "high": "high", "xhigh": "max"},
          "contextWindow": 1048576,
          "maxTokens": 131072,
          "cost": { "input": 8, "output": 28, "cacheRead": 2, "cacheWrite": 8 }
        }
      ]
    },
    "tencent": {
      "baseUrl": "https://tokenhub.tencentmaas.com",
      "api": "anthropic-messages",
      "apiKey": "${TENCENT_API_KEY}",
      "models": [
        {
          "id": "glm-5.2",
          "name": "GLM 5.2",
          "input": ["text"],
          "reasoning": true,
          "thinkingLevelMap": { "minimal": null, "low": null, "medium": null, "high": "high", "xhigh": "max"},
          "contextWindow": 1048576,
          "maxTokens": 131072,
          "cost": { "input": 8, "output": 28, "cacheRead": 2, "cacheWrite": 0 }
        },
        {
          "id": "kimi-k3",
          "name": "KIMI K3",
          "input": ["text", "image"],
          "reasoning": true,
          "thinkingLevelMap": { "off": null, "xhigh": "max" },
          "contextWindow": 1048576,
          "maxTokens": 1048576,
          "cost": { "input": 20, "output": 100, "cacheRead": 2, "cacheWrite": 0 }
        }
      ]
    }
  }
}
